<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>NOT NULL CONSTRAINT</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>Pre-requisite: <strong>NULL Values in SQL</strong></p>

<p>The SQL NOT NULL forces particular values or records should not to hold a null value. It is somewhat similar to the primary key condition as the primary key can’t have null values in the table although both are completely different things.</p>

<p>In SQL, constraints are some set of rules that are applied to the data type of the specified table, Or we can say that using constraints we can apply limits on the type of data that can be stored in the particular column of the table.</p>

<p>Constraints are typically placed specified along with CREATE statement. By default, a column can hold null values.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>CREATE TABLE</span> Emp(
    EmpID INT <span style='color: #BD6B09'>PRIMARY KEY</span>,
    Name VARCHAR(50),
    Country VARCHAR(50),
    Age <span style='color: #BD6B09'>INT</span>(2),
    Salary <span style='color: #BD6B09'>INT</span>(10)
);
</pre>
      </strong>
    </th>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230406131534/Screenshot-from-2023-04-06-13-15-17.png' style='border: solid black 5px'><br><small><i></i></small></div>

<p>If you don’t want to have a null column or a null value you need to define constraints like NOT NULL. NOT NULL constraints make sure that a column does not hold null values, or in other words, NOT NULL constraints make sure that you cannot insert a new record or update a record without entering a value to the specified column(i.e., NOT NULL column).</p>

<p>It prevents for acceptance of NULL values. It can be applied to column-level constraints.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>CREATE TABLE</span> table_Name
(
<span style='color: #BD6B09'>column1</span> data_type(size) <span style='color: #BD6B09'>NOT NULL</span>,
<span style='color: #BD6B09'>column2</span> data_type(size) <span style='color: #BD6B09'>NOT NULL</span>,
...
);
</pre>
      </strong>
    </th>
  </tr>
</table>

### <span style='color: #BD6B09'><strong>SQL NOT NULL on CREATE a Table</strong></span>

<p>In SQL, we can add NOT NULL constraints while creating a table.</p> 

<p>For example, the “EMPID” will not accept NULL values when the EMPLOYEES table is created because NOT NULL constraints are used with these columns.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>CREATE TABLE</span> Emp(
    EmpID <span style='color: #BD6B09'>INT</span> <span style='color: #BD6B09'>NOT NULL</span> <span style='color: #BD6B09'>PRIMARY KEY</span>,
    Name <span style='color: #BD6B09'>VARCHAR</span> (50),
    Country <span style='color: #BD6B09'>VARCHAR</span> (50),
    Age <span style='color: #BD6B09'>INT</span> (2),
    Salary <span style='color: #BD6B09'>INT</span> (10)
);
</pre>
      </strong>
    </th>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230406132754/Screenshot-from-2023-04-06-13-27-23.png' style='border: solid black 5px'><br><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>SQL NOT NULL on ALTER  Table</strong></span>

<p>We can also add a NOT NULL constraint in the existing table using the ALTER statement. For example, if the EMPLOYEES table has already been created then add NOT NULL constraints to the “Name” column using ALTER statements in SQL as follows:</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>ALTER TABLE</span> Emp <span style='color: #BD6B09'>MODIFY</span> Name <span style='color: #BD6B09'>VARCHAR</span>(50) <span style='color: #BD6B09'>NOT NULL</span>;
</pre>
      </strong>
    </th>
  </tr>
</table>