# <span style='display: flex; justify-content: center; color: #E54646'><b>SQL OPERATORS</b></span>

<div align='justify'>
    <p><b style='color: #EC870E'>SQL operators</b> perform arithmetic, comparison, and logical operations to manipulate and retrieve data from databases.</p>
    <p>In this article, we will discuss <b style='color: #EC870E'>Operators</b> in SQL with examples, and understand how they work in SQL.</p>
</div>

## <span style='color: #F5A89A'><b>Operators In SQL</b></span>

<div align='justify'>
    <p>Operators in SQL are symbols that help us to perform specific mathematical and logical computations on operands. An operator can either be unary or binary.</p>
    <p>The unary operator operates on one operand, and the binary operator operates on two operands.</p>
</div>

## <span style='color: #F5A89A'><b>Types Of Operators In SQL</b></span>

<div align='justify'>
    <p>Different types of operators in SQL are:</p>

+ Arithmetic operator
+ Comparison operator
+ Logical operator
+ Bitwise Operators
+ Compound Operators


</div>

## <span style='color: #F5A89A'><b>SQL Arithmetic Operators</b></span>

<div align='justify'>
    <p><a href='https://www.geeksforgeeks.org/sql-arithmetic-operators/'><b ><u>Arithmetic operators</u></b></a> in SQL are used to perform mathematical operations on numeric values in queries. Some common arithmetic operators are:</p>
</div>

<table style='display: flex; justify-content: center'>
    <tr style='background-color: #F6B297; color: black'>
        <th style="text-align: center;"><b><strong>Operator</strong></b></th>
        <th style="text-align: center;"><b><strong>Description</strong></b></th>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>+</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>The addition is used to perform an addition operation on the data values.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>&#8211;</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>This operator is used for the subtraction of the data values.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>/</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>This operator works with the &#8216;ALL&#8217; keyword and it calculates division operations.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>*</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>This operator is used for multiplying data values.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>%</span></td> <td style="text-align: center; background-color: white; color: black"> <span>Modulus is used to get the remainder when data is divided by another.</span> </td>
    </tr>
</table>

### <span style='color: #BD6B09'><b>SQL Arithmetic Operators Example</b></span>

<div align='justify'>
    <p>In this example, we will retrieve all records from the “employee” table where the “emp_city” column does not start with the letter ‘A’.</p>
</div>

### <span style='color: #BD6B09'><b>Query:</b></span>

<div style='display: flex; justify-content: center;'>
    <pre><b><strong>SELECT </strong></b><span>* </span><b><strong>FROM </strong></b><span>employee </span><b><strong>WHERE </strong></b><span>emp_city </span><b><strong>NOT LIKE </strong></b><span>'A%';</span></pre>
</div>

### <span style='color: #BD6B09'><b>Output:</b></span>

<div style="display: flex; justify-content: center;"><img alt="sql arithmetic operators example output" height="inherit" src="https://media.geeksforgeeks.org/wp-content/uploads/20211009145719/10.JPG" width="inherit"/><p></p></div>

## <span style='color: #F5A89A'><b>SQL Comparison Operators</b></span>

<div align='justify'>
    <p><a href='https://www.geeksforgeeks.org/comparison-operators-in-sql/'><b><u>Comparison Operators</u></b></a> in SQL are used to compare one expression’s value to other expressions. SQL supports different types of comparison operator, which are described below:</p>    
</div>

<table style='display: flex; justify-content: center'>
    <tr style='background-color: #F6B297; color: black'>
        <th style="text-align: center"><b><strong>Operator</strong></b></th>
        <th style="text-align: center"><b><strong>Description</strong></b></th>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>></span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Greater than.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span><</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Less than.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>>=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Greater than equal to.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span><=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Less than equal to.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span><></span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Not equal to.</span> </td>
    </tr>
</table>

### <span style='color: #BD6B09'><b>SQL Comparison Operators Example</b></span>

<div align='justify'>
    <p>In this example, we will retrieve all records from the “MATHS” table where the value in the “MARKS” column is equal to 50.</p>
</div>

### <span style='color: #BD6B09'><b>Query:</b></span>

<div style='display: flex; justify-content: center;'>
    <pre><b><strong>SELECT </strong></b><span>* </span><b><strong>FROM </strong></b><span>MATHS </span><b><strong>WHERE </strong></b><span>MARKS=50;</span></pre>
</div>

### <span style='color: #BD6B09'><b>Output:</b></span>

<div style="display: flex; justify-content: center;"><img alt="sql comparison operators example output" height="inherit" loading="lazy" src="https://media.geeksforgeeks.org/wp-content/uploads/20211027144125/WhatsAppImage20211027at144039.jpeg" width="inherit"/><p></p></div>

## <span style='color: #F5A89A'><b>SQL Logical Operators</b></span>

<div align='justify'>
    <p><a href='https://www.geeksforgeeks.org/sql-logical-operators/'><b><u>Logical Operators</u></b></a> in SQL are used to combine or manipulate conditions in SQL queries to retrieve or manipulate data based on specified criteria..</p>
</div>

<table style='display: flex; justify-content: center'>
    <tr style='background-color: #F6B297; color: black'>
        <th style="text-align: center"><b><strong>Operator</strong></b></th>
        <th style="text-align: center"><b><strong>Description</strong></b></th>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>AND</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Logical AND compares two Booleans as expressions and returns true when both expressions are true.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>OR</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Logical OR compares two Booleans as expressions and returns true when one of the expressions is true.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>NOT</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Not takes a single Boolean as an argument and change its value from false to true or from true to false.</span> </td>
    </tr>
</table>

### <span style='color: #BD6B09'><b>SQL Logical Operators Example</b></span>

<div align='justify'>
    <p>In this example, retrieve all records from the “employee” table where the “emp_city” column is equal to ‘Allahabad’ and the “emp_country” column is equal to ‘India’.</p>
</div>

### <span style='color: #BD6B09'><b>Query:</b></span>

<div style='display: flex; justify-content: center;'>
    <pre><b><strong>SELECT </strong></b><span>* </span><b><strong>FROM </strong></b><span>employee </span><b><strong>WHERE </strong></b><span>emp_city = </span><br/><span>'Allahabad' </span><b><strong>AND </strong></b><span>emp_country = 'India';</span></pre>
</div>

### <span style='color: #BD6B09'><b>Output:</b></span>

<div style="display: flex; justify-content: center;"><img alt="sql logical operators example output" height="inherit" loading="lazy" src="https://media.geeksforgeeks.org/wp-content/uploads/20211009145255/6.JPG" width="inherit"/><p></p></div>

## <span style='color: #F5A89A'><b>SQL Logical Operators</b></span>

<div align='justify'>
    <p><b>Bitwise operators</b> in SQL are used to perform bitwise operations on binary values in SQL queries, manipulating individual bits to perform logical operations at the bit level. Some SQL Bitwise Operators are:</p>
</div>

<table style='display: flex; justify-content: center'>
    <tr style='background-color: #F6B297; color: black'>
        <th style="text-align: center"><b><strong>Operator</strong></b></th>
        <th style="text-align: center"><b><strong>Description</strong></b></th>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>&</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise AND operator.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>|</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise OR operator.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>^</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise XOR (exclusive OR) operator.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>~</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise NOT (complement) operator.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span><<</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Left shift operator.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>>></span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Right shift operator.</span> </td>
    </tr>
</table>

## <span style='color: #F5A89A'><b>SQL Compound Operators</b></span>

<div align='justify'>
    <p><b>Compound operator</b> in SQL are used to perform an operation and assign the result to the original value in a single line. Some Compound operators are:</p>
</div>

<table style='display: flex; justify-content: center'>
    <tr style='background-color: #F6B297; color: black'>
        <th style="text-align: center"><b><strong>Operator</strong></b></th>
        <th style="text-align: center"><b><strong>Description</strong></b></th>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>+=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Add and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>-=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Subtract and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>*=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Multiply and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>/=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Divide and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>%=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Modulo and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>&=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise AND and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>^=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise XOR and assign.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>|=</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>Bitwise OR and assign.</span> </td>
    </tr>

## <span style='color: #F5A89A'><b>SQL Special Operators</b></span>

<div align='justify'>
    <p>Special operators are used in SQL queries to perform specific operations like comparing values, checking for existence, and filtering data based on certain conditions.</p>
</div>

<table style='display: flex; justify-content: center'>
    <tr style='background-color: #F6B297; color: black'>
        <th style="text-align: center"><b><strong>Operator</strong></b></th>
        <th style="text-align: center"><b><strong>Description</strong></b></th>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>ALL</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>ALL is used to select all records of a SELECT STATEMENT. It compares a value to every value in a list of results from a query. The ALL must be preceded by the comparison operators and evaluated to TRUE if the query returns no rows.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>ANY</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>ANY compares a value to each value in a list of results from a query and evaluates to true if the result of an inner query contains at least one row.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>BETWEEN</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>The SQL BETWEEN operator tests an expression against a range. The range consists of a beginning, followed by an AND keyword and an end expression.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>IN</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>The IN operator checks a value within a set of values separated by commas and retrieves the rows from the table that match.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>EXISTS</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>The EXISTS checks the existence of a result of a subquery. The EXISTS subquery tests whether a subquery fetches at least one row. When no data is returned then this operator returns ‘FALSE’.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>SOME</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>SOME operator evaluates the condition between the outer and inner tables and evaluates to true if the final result returns any one row. If not, then it evaluates to false.</span> </td>
    </tr>
    <tr>
        <td style="text-align: center; background-color: #F6B297; color: black"> <span>UNIQUE</span> </td>
        <td style="text-align: center; background-color: white; color: black"> <span>The UNIQUE operator searches every unique row of a specified table.</span> </td>
    </tr>
</table>

### <span style='color: #BD6B09'><b>SQL Special Operator Example</b></span>

<div align='justify'>
    <p>In this example, we will retrieve all records from the “employee” table where the “emp_id” column has a value that falls within the range of 101 to 104 (inclusive).</p>
</div>

### <span style='color: #BD6B09'><b>Output:</b></span>

<div style='display: flex; justify-content: center;'>
    <pre><b><strong>SELECT </strong></b><span>* </span><b><strong>FROM </strong></b><span>employee </span><b><strong>WHERE </strong></b><span>emp_id </span><b><strong>BETWEEN </strong></b><span>101 </span><b><strong>AND </strong></b><span>104;</span></pre>
</div>

### <span style='color: #BD6B09'><b>Query:</b></span>

<div style='display: flex; justify-content: center;'><img alt="sql special operator example output" loading="lazy" src="https://media.geeksforgeeks.org/wp-content/uploads/20211009150250/16.JPG"/></div>

## <span style='color: #F5A89A'><b>Conclusion</b></span>

<div align='justify'>
    <p>SQL Operators are used to perform various operations on the data using SQL queries. These operators simplify arithmetic, comparison , logical, and bitwise operations on the data.</p>
    <p>In this tutorial, we have explained SQL operators in detail. We have explained different types of operators in SQL along with their definition and examples. Using SQL operators you can efficiently perform operations on data.</p>
</div>