<div style='text-indent: 0 cm; background-color: white; color: black'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>SQL QUERY TO COPY, DUPLICATE AND BACKUP TABLE</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black'>
        <p>In relational databases, we often deal with different tables and perform various operations using different database software like MYSQL, Oracle, PostgreSQL, etc.</p>
        <p>Sometimes, while performing operations on a table, we might need to create a table backup. We can create a backup of the table by creating its <b>copy</b> or <b>duplicate</b>. This allows users to maintain the integrity and security of the original database.</p>
        <p>We can track changes in data using the backup table when we perform various modification operations. So, in this article, we will learn how to <b>copy</b>, <b>duplicate</b>, and <b>backup tables in SQL</b>. Creating a table copy or duplicate is the same as creating the backup.</p>

### <span style='color: #BD6B09'><strong>Demo Table</strong></span>

<p>We will be using the following table “Student Information” which consists of data as shown below:</p>

<table align='center'>
    <tr><strong>
        <th>Student Information</th>
    </strong></tr>
    <tr align='center'><strong>
        <th>ID</th>
        <th>Age</th>
        <th>Student Name</th>
        <th>Sex</th>
    </strong></tr>
    <tr align='center'>
        <td>1</td>
        <td>22</td>
        <td>Harry</td>
        <td>Male</td>
    </tr>
    <tr align='center'>
        <td>2</td>
        <td>23</td>
        <td>Vishal</td>
        <td>Male</td>
    </tr>
    <tr align='center'>
        <td>3</td>
        <td>20</td>
        <td>Snehal</td>
        <td>Female</td>
    </tr>
    <tr align='center'>
        <td>4</td>
        <td>25</td>
        <td>Ram</td>
        <td>Male</td>
    </tr>
    <tr align='center'>
        <td>5</td>
        <td>24</td>
        <td>Hina</td>
        <td>Female</td>
    </tr>
</table>

</blockquote>
</div>

<span style='text-indent: 0.5cm'>

## <span style='color: #F5A89A;'><b>Create Backup Of A Table</b></span>

</span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>
    
<p>We can create a backup of a table by creating a duplicate or copy of original database.</p>

### <span style='color: #BD6B09'><strong>Syntax</strong></span>

<p>The syntax to create a copy/duplicate/backup of a table in SQL is:</p>

<strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> [backup_table_name] <span style='color: #BD6B09'>AS SELECT</span> * <span style='color: #BD6B09'>FROM</span> [source_table_name];</pre></strong>

<p><strong>Here:</strong></p>
<p>+ <strong>backup_table_name</strong>: The name of the backup table.</p>
<p>+ <strong>AS</strong>: Aliasing</p>

</blockquote>
</div>

<span style='text-indent: 0.5cm'>

## <span style='color: #F5A89A;'><b>SQL Copy, Duplicate And Backup Table Examples</b></span>

</span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>Let’s look at some examples on how to copy/duplicate table in SQL to create a backup table.</p>

### <span style='color: #BD6B09'><strong>SQL Backup Table with All Columns Data Example</strong></span>

<p>In this example, we will create a backup table”stud_1″ of “student_information” table by creating a copy of “student_information” table and copying its all columns with data.</p>

### <span style='color: #BD6B09'><strong>Query</strong></span>

<div align='center'>
    <div>
        <table>
            <tr align='justify' style='border: solid white; background-color: #F0F0F0; color: black'>
                <td><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> stud_1 <span style='color: #BD6B09'>AS SELECT</span> * <span style='color: #BD6B09'>FORM</span> student_information;<br><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> stud_1;</pre></strong></td>
            </tr>
        </table>
    </div>
</div>

### <span style='color: #BD6B09'><strong>Output</strong></span>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210423174521/Backup1output.jpg' style='height: 300px; border: 5px solid black'></div>

</blockquote>
</div>

<span style='text-indent: 0.5cm'>

## <span style='color: #F5A89A;'><b>SQL Backup Table With Specific Column Data Example</b></span>

</span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>In this example, we will create a backup table”stud_2″ of “student_information” table by creating a copy of “student_information” table and only copying specific columns with data.</p>

### <span style='color: #BD6B09'><strong>Query</strong></span>

<div align='center'>
    <div>
        <table>
            <tr align='justify' style='border: solid white; background-color: #F0F0F0; color: black'>
                <td><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> stud_2 <span style='color: #BD6B09'>AS<br>SELECT</span> id, student_name <span style='color: #BD6B09'>FORM</span> student_information;<br><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> stud_2;</pre></strong></td>
            </tr>
        </table>
    </div>
</div>

### <span style='color: #BD6B09'><strong>Output</strong></span>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210423174605/Backup2output.jpg' style='height: 300px; border: 5px solid black'></div>

<p>Till now we have seen how to create a  clone of the source table. In the above backup table, the data is also copied along with the table. However, we can also create a backup table without copying the data.</p>

</blockquote>
</div>

<span style='text-indent: 0.5cm'>

## <span style='color: #F5A89A;'><b>SQL Backup Table With No Data Example</b></span>

</span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>So, to create a table without any data being copied we can use the help of the <a href='https://www.geeksforgeeks.org/sql-where-clause/'><b><u>WHERE</u></b></a> clause which needs to return a FALSE value. For example, we can use <b>WHERE 2<2 or WHERE 1=2</b>.</p>

<p>In this example, we will create a backup table “geeks_student” of “student_information” table by creating a copy of “student_information” table and copying its all columns without data.</p>

### <span style='color: #BD6B09'><strong>Query</strong></span>

<div align='center'>
    <div>
        <table>
            <tr align='justify' style='border: solid white; background-color: #F0F0F0; color: black'>
                <td><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> geeks_student <span style='color: #BD6B09'>AS<br>SELECT</span> * <span style='color: #BD6B09'>FROM</span> student_information;<br><span style='color: #BD6B09'>WHERE</span> 1!=1;<br><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> stud_2;</pre></strong></td>
            </tr>
        </table>
    </div>
</div>

### <span style='color: #BD6B09'><strong>Output</strong></span>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210423184655/Backup4output.jpg' style='height: 300px; border: 5px solid black'></div>

</blockquote>
</div>

<span style='text-indent: 0.5cm'>

## <span style='color: #F5A89A;'><b>SQL Backup Table With Specific Columns And No Data Example</b></span>

</span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>In this example, we will create a backup table “geek_student” of “student_information” table by creating a copy of “student_information” table and copying specific columns without data.</p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210423184137/Backup3.jpg' style='height: 300px; border: 5px solid black'></div>

### <span style='color: #BD6B09'><strong>Output</strong></span>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210423184138/Backup3output.jpg' style='height: 300px; border: 5px solid black'></div>

</blockquote>
</div>

<br>
</div>