<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>NUMERIC FUNCTIONS</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p><strong>Numeric Functions</strong> are used to perform operations on numbers and return numbers. Following are the numeric functions defined in SQL:</p>

<p><strong style='color: #BD6B09'>ABS()</strong>: It returns the absolute value of a number.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
<span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>ABS</span>(<span style='color: #008000'>-243.5</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 243.5</p>

<table align='center' style='border: solid white'>
  <td style='background-color: #F0F0F0'>
    SQL > SELECT ABS(-10);<br>
    +--------------------------------------+<br>
    | ABS(10)<br>
    +--------------------------------------+<br>
    | 10<br>
    +--------------------------------------+<br>
  </td>
</table>

<br>

<p><strong style='color: #BD6B09'>ACOS()</strong>: It returns the cosine of a number, in radians.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
<span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>ACOS</span>(<span style='color: #008000'>0.25</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 1.318116071652818</p>

<br>

<p><strong style='color: #BD6B09'>ASIN()</strong>: It returns the arc sine of a number, in radians.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
<span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>ASIN</span>(<span style='color: #008000'>0.25</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 0.25268025514207865</p>

<br>

<p><strong style='color: #BD6B09'>ATAN()</strong>: It returns the arc tangent of a number, in radians.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>ATAN</span>(<span style='color: #008000'>2.5</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 1.1902899496825317</p>

<br>

<p><strong style='color: #BD6B09'>CEIL()</strong>: It returns the smallest integer value that is greater than or equal to a number.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>CEIL</span>(<span style='color: #008000'>25.75</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 26</p>

<br>

<p><strong style='color: #BD6B09'>CEILING()</strong>: It returns the smallest integer value that is greater than or equal to a number.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>CEILING</span>(<span style='color: #008000'>25.75</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 26</p>

<br>

<p><strong style='color: #BD6B09'>COS()</strong>: It returns the cosine of a number, in radians.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>COS</span>(<span style='color: #008000'>30</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 0.15425144988758405</p>

<br>

<p><strong style='color: #BD6B09'>COT()</strong>: It returns the cotangent of a number, in radians.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>COT</span>(<span style='color: #008000'>6</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: -3.436353004180128</p>

<br>

<p><strong style='color: #BD6B09'>DEGREES()</strong>: It converts a radian value into degrees.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>DEGREES</span>(<span style='color: #008000'>1.5</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 85.94366926962348</p>

<table align='center' style='border: solid white'>
  <td style='background-color: #F0F0F0'>
    SQL>SELECT DEGREES(PI());<br>
    +------------------------------------------+<br>
    | DEGREES(PI())<br>           
    +------------------------------------------+<br>
    | 180.000000<br>
    +------------------------------------------+<br>
  </td>
</table>

<br>

<p><strong style='color: #BD6B09'>DIV()</strong>: It is used for integer division.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #008000'>10</span> <span style='color: #BD6B09'>DIV</span> <span style='color: #008000'>5</span>;
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 2</p>

<br>

<p><strong style='color: #BD6B09'>EXP()</strong>: It returns e raised to the power of a number.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>EXP</span>(<span style='color: #008000'>1</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 2.718281828459045</p>

<br>

<p><strong style='color: #BD6B09'>FLOOR()</strong>: It returns the largest integer value that is less than or equal to a number.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>FLOOR</span>(<span style='color: #008000'>25.75</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 25</p>

<br>

<p><strong style='color: #BD6B09'>GREATEST()</strong>: It returns the greatest value in a list of expressions.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>GREATEST</span>(<span style='color: #008000'>30</span>, <span style='color: #008000'>2</span>, <span style='color: #008000'>36</span>, <span style='color: #008000'>81</span>, <span style='color: #008000'>125</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 125</p>

<br>

<p><strong style='color: #BD6B09'>LEAST()</strong>: It returns the smallest value in a list of expressions.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>LEAST</span>(<span style='color: #008000'>30</span>, <span style='color: #008000'>2</span>, <span style='color: #008000'>36</span>, <span style='color: #008000'>81</span>, <span style='color: #008000'>125</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 2</p>

<br>

<p><strong style='color: #BD6B09'>LN()</strong>: It returns the natural logarithm of a number.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>LN</span>(<span style='color: #008000'>2</span>);
      </strong>
    </td>
  </tr>
</table>

<p><strong>Output</strong>: 0.6931471805599453</p>

<br>

<p><strong style='color: #BD6B09'>LOG10()</strong>: It returns the base-10 logarithm of a number.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>LOG</span>(<span style='color: #008000'>2</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 0.6931471805599453</p>
<br>

<p><strong style='color: #BD6B09'>LOG2()</strong>: It returns the base-2 logarithm of a number.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>LOG2</span>(<span style='color: #008000'>6</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 2.584962500721156</p>
<br>

<p><strong style='color: #BD6B09'>MOD()</strong>: It returns the remainder (aka. modulus) of n divided by m.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>MOD</span>(<span style='color: #008000'>18</span>, <span style='color: #008000'>4</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 2</p>
<br>

<p><strong style='color: #BD6B09'>PI()</strong>: It returns the value of Pi and displays 6 decimal places.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>PI</span>();
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 3.141593</p>
<br>

<p><strong style='color: #BD6B09'>POWER(m, n)</strong>: It returns m raised to the nth power.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>POWER</span>(<span style='color: #008000'>4</span>, <span style='color: #008000'>2</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 16</p>
<br>

<p><strong style='color: #BD6B09'>RADIANS()</strong>: It converts a value in degrees to radians.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>RADIANS</span>(<span style='color: #008000'>180</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 3.141592653589793</p>
<br>

<p><strong style='color: #BD6B09'>RAND()</strong>: It returns a random number between 0 (inclusive) and 1 (exclusive).</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>RAND</span>();
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 0.33623238684258644</p>
<br>

<p><strong style='color: #BD6B09'>ROUND()</strong>: It returns a number rounded to a certain number of decimal places.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>ROUND</span>(<span style='color: #008000'>5.553</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 6</p>
<br>

<p><strong style='color: #BD6B09'>SIGN()</strong>: It returns a value indicating the sign of a number. A return value of 1 means positive; 0 means negative.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>SIGN</span>(<span style='color: #008000'>255.5</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 1</p>
<br>

<p><strong style='color: #BD6B09'>SIN()</strong>: It returns the sine of a number in radians.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>SIN</span>(<span style='color: #008000'>2</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 0.9092974268256817</p>
<br>

<p><strong style='color: #BD6B09'>SQRT()</strong>: It returns the square root of a number.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>SQRT</span>(<span style='color: #008000'>25</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 5</p>
<br>

<p><strong style='color: #BD6B09'>TAN()</strong>: It returns the tangent of a number in radians.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>TAN</span>(<span style='color: #008000'>1.75</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: -5.52037992250933</p>
<br>

<p><strong style='color: #BD6B09'>ATAN2()</strong>: It returns the arctangent of the x and y coordinates, as an angle expressed in radians.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>ATAN2</span>(<span style='color: #008000'>7</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 1.42889927219073</p>
<br>

<p><strong style='color: #BD6B09'>TRUNCATE()</strong>: This doesn’t work for SQL Server. It returns a number truncated to a specified number of places right of the decimal point.</p>
<p><strong>Syntax</strong></p>
<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <span style='color: #BD6B09'>SELECT</span> <span style='color: #BD6B09'>TRUNCATE</span>(<span style='color: #008000'>7.53635</span>, <span style='color: #008000'>2</span>);
      </strong>
    </td>
  </tr>
</table>
<p><strong>Output</strong>: 7.53</p>
<br>