<div style='text-indent: 0.5cm; background-color: white; color: black'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>DROP AND TRUNCATE IN SQL</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black'>
        <p><b>DROP and TRUNCATE in SQL</b> remove data from the table. The main difference between DROP and TRUNCATE commands in SQL is that DROP removes the table or database completely, while TRUNCATE only removes the data, preserving the table structure.</p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>What is DROP Command?</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black'>
        <p>DROP command in SQL is used to delete a whole <a href='https://www.geeksforgeeks.org/what-is-database/'><b><u>database</u></b></a> or a table.</p>
        <p>DROP statement deletes objects like an existing database, table, index, or view.</p>
    </blockquote>
</div>

### <span style='color: #BD6B09'><strong>Syntax</strong></span>

<div align='justify'>
    <blockquote style='background-color: #F0F0F0; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>DROP</span> [object] [object_name];</pre></b></span>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>DROP Command Examples</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <p>Let’s look at some examples of the DROP statement in SQL.</p>
    </blockquote>
</div>

### <span style='color: #BD6B09'><strong>DROP Table</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>DROP TABLE</span> [table_name];</pre></b></span>
        <p><b>table_name</b>: Name of the table to be deleted.</p>
    </blockquote>
</div>

### <span style='color: #BD6B09'><strong>DROP database</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>DROP DATABASE</span> [database_name];</pre></b></span>
        <p><b>database_name</b>: Name of the database to be deleted.</p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>What is TRUNCATE Command?</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black'>
        <p><b>TRUNCATE statement</b> is a <b>Data Definition Language (DDL) operation</b> that is used to mark the extent of a table for deallocation (empty for reuse). The result of this operation quickly removes all data from a table, typically bypassing several integrity-enforcing mechanisms.</p>
        <p>It was officially introduced in the SQL:2008 standard. The TRUNCATE TABLE statement is logically (though not physically) equivalent to the <a href='https://www.geeksforgeeks.org/sql-delete-statement/'><b><u>DELETE</u></b></a> Statement without a WHERE clause.</p>
    </blockquote>
</div>

### <span style='color: #BD6B09'><strong>Syntax</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>TRUNCATE TABLE</span> [table_name];</pre></b></span>
        <p><b>table_name</b>: Name of the table to be deleted.</p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>Differences Between DROP and TRUNCATE</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <p>The key differences between DROP and TRUNCATE statements are explained in the following table:</p>
        <table>
            <tr align='center' style='background-color: #F0F0F0'>
                <th>DROP</th>
                <th>TRUNCATE</th>
            </tr>
            <tr align='justify'>
                <td>In the drop table data and its definition is deleted with their full structure.</td>
                <td>It preserves the structure of the table for further use exist but deletes all the data.</td>
            </tr>
            <tr align='justify'>
                <td>Drop is used to eliminate existing complications and fewer complications in the whole database from the table.</td>
                <td>Truncate is used to eliminate the tuples from the table.</td>
            </tr>
            <tr align='justify'>
                <td>Integrity constraints get removed in the DROP command.</td>
                <td>Integrity constraint doesn’t get removed in the Truncate command.</td>
            </tr>
            <tr align='justify'>
                <td>Since the structure does not exist, the View of the table does not exist in the Drop  command.</td>
                <td>Since the structure exists, the View of the table exists in the Truncate command.</td>
            </tr>
            <tr align='justify'>
                <td> Drop query frees the table space complications from memory.</td>
                <td>This query does not free the table space from memory.</td>
            </tr>
            <tr align='justify'>
                <td>It is slow as there are so many complications compared to the TRUNCATE command.</td>
                <td>It is fast as compared to the DROP command as there are fewer complications.</td>
            </tr>
        </table>
    </blockquote>
</div>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
    <br>
        <p><strong>Read More: <a href='https://www.geeksforgeeks.org/difference-between-drop-and-truncate-in-sql/'><u>Differences between DROP and TRUNCATE Commands</u></a></strong></p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>SQL DROP AND TRUNCATE Statement Examples</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <p>Let’s look at some examples of the DROP and TRUNCATE statements in SQL and understand their working.</p>
        <p>Let’s consider the given database Student_data:</p>
        <p align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230821132557/Screenshot-2023-08-21-035325.png' style='border: 5px solid black;'></p>
        <p>To create this table, write the following queries:</p>
        <strong><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>CREATE TABLE</span> Student_details (<br>     ROLL_NO INT,<br>     NAME VARCHAR(25),<br>     ADDRESS VARCHAR(25),<br>     PHONE INT ,<br>     AGE INT ,<br>  )<br>  --Inserting the data in Student Table<br>  <span style='color: #BD6B09'>INSERT INTO</span> Student_details(ROLL_NO,NAME,ADDRESS,PHONE,AGE)<br>  <span style='color: #BD6B09'>VALUES</span><br>  (1,'Ram','Delhi',9415536635,24),<br>  (2,'Ramesh','Gurgaon',9414576635,21),<br>  (3,'Sujit','Delhi',9815532635,20),<br>  (4,'Suresh','Noida',9115536695,21),<br>  (5,'Kajal','Gurgaon',8915536735,28),<br>  (6,'Garima','Rohtak',7015535635,23);</pre></strong>
        <p>We will perform the examples on this particular table.</p>
    </blockquote>
</div> 

## <span style='color: #F5A89A'><b>DROP Database Example</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <p>In this example, we will drop the student_data database.</p>
    </blockquote>
</div> 

### <span style='color: #BD6B09'><strong>Query</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>DROP DATABASE</span> student_data;</pre></b></span>
        <p>After running the above query whole database will be deleted.</p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>DROP Table Example</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <p>In this example, we will drop the student_details table.</p>
    </blockquote>
</div> 

### <span style='color: #BD6B09'><strong>Query</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>DROP TABLE</span> student_details;</pre></b></span>
        <p>After running the above query whole table from the database will be deleted.</p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>TRUNCATE Table Example</b></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <p>In this example, we will truncate the Student_details table from the student_data database.</p>
    </blockquote>
</div> 

### <span style='color: #BD6B09'><strong>Query</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <span align='center'><b><pre style='background-color: #F0F0F0; color: black; padding: 20px;'><span style='color: #BD6B09'>TRUNCATE TABLE</span> Student_details;</pre></b></span>
        <p>After running the above query Student_details table will be truncated, i.e, the data will be deleted but the structure will remain in the memory for further operations.</p>
    </blockquote>
</div>

## <span style='color: #F5A89A'><b>Important Points About SQL DROP & TRUNCATE Statements</b></span>

### <span style='color: #BD6B09'><strong>SQL DROP Statement</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <ul>
            <li value="1">Completely removes a table or database from the database, including the data and structure.</li>
            <li value="2">Is a permanent operation and cannot be rolled back.</li>
            <li value="3">Removes integrity constraints and indexes associated with the table.</li>
            <li value="4">Is slower compared to the TRUNCATE statement.</li>
        </ul>    
    </blockquote>
</div> 

### <span style='color: #BD6B09'><strong>SQL TRUNCATE Statement</strong></span>

<div align='justify'>
    <blockquote style='background-color: white; color: black;'>
        <ul>
            <li value="1">Removes all the rows or data from a table, but preserves the table structure and columns.</li>
            <li value="2">Is a faster operation compared to the DROP statement.</li>
            <li value="3">Resets the identity column (if any) back to its seed value.</li>
            <li value="4">Does not remove integrity constraints associated with the table.</li>
        </ul>    
    </blockquote>
</div> 

<br>
</div>