<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>LEFT JOIN</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p><strong>SQL LEFT JOIN</strong> command returns all records from the left table and matching records from the right table. If there is no matching record in the right table, the right table records will contain <strong>NULL values</strong>.</p>

## <span style='color: '><strong>LEFT JOIN in SQL</strong></span>

<p>LEFT JOIN in SQL is used to combine rows from two or more tables, based on a related column between them. It returns all rows from the left table and matching records from the right table.</p>

<p>If a certain row is present in the left table but not in the right table, the result will include this row, but with a NULL value in each column from the right table. If a record from the right table is not on the left, it will not be included in the result.</p>

### <span style='color: #BD6B09'><strong>SQL LEFT JOIN Venn Diagram</strong></span>

<p>This VENN diagram shows how a LEFT JOIN works in SQL.</p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210416130236/left-300x244.JPG' style='border: solid black 5px'><br><small><i>LEFT JOIN</i></small></div>

<p><strong>Syntax</strong></p>

<p>The LEFT JOIN syntax is:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> column_name(s) 
<span style='color: #BD6B09'>FROM</span> tableA 
<span style='color: #BD6B09'>LEFT JOIN</span> tableB <span style='color: #BD6B09'>ON</span> tableA.column_name = tableB.column_name;
</pre>
      </strong>
    </th>
  </tr>
</table>

## <span style='color: '><strong>SQL LEFT JOIN Example</strong></span>

<p>Let’s look at an example of LEFT JOIN in SQL to understand it better.</p>

<p>Let’s consider two tables Emp containing details of the Employee working in the particular department, and department table containing the details of the department.</p>

### <span style='color: #BD6B09'><strong>Employee Table</strong></span>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>CREATE TABLE</span> Emp (
    EmpID <span style='color: #BD6B09'>INT</span> <span style='color: #BD6B09'>PRIMARY KEY</span>,
    Name <span style='color: #BD6B09'>VARCHAR(50)</span>,
    Country <span style='color: #BD6B09'>VARCHAR(50)</span>,
    Age <span style='color: #BD6B09'>INT</span>,
    Salary <span style='color: #BD6B09'>INT</span>,
    department_id <span style='color: #BD6B09'>INT</span>
);

<span style='color: #BD6B09'>INSERT INTO</span> Emp (EmpID, Name, Country, Age, Salary, department_id)
<span style='color: #BD6B09'>VALUES</span> (1, 'Shubham', 'India', 23, 30000, 101),
       (2, 'Aman', 'Australia', 21, 45000, 102),
       (3, 'Naveen', 'Sri Lanka', 24, 40000, 103),
       (4, 'Aditya', 'Austria', 21, 35000, 104),
       (5, 'Nishant', 'Spain', 22, 25000, 101);
</pre>
      </strong>
    </th>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230413152804/Screenshot_57.png' style='border: solid black 5px'><br><small><i>Department Table</i></small></div>

<p>To perform left-join on  these two tables we will use the following SQL query:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Emp.EmpID, Emp.Name, department.<span style='color: #BD6B09'>department_name</span>, department.<span style='color: #BD6B09'>department_head</span>, 
department.<span style='color: #BD6B09'>location</span> 
<span style='color: #BD6B09'>FROM</span> Emp
<span style='color: #BD6B09'>LEFT JOIN</span> department <span style='color: #BD6B09'>ON</span> Emp.department_id = department.department_id;
</pre>
      </strong>
    </th>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230413153401/Screenshot_59.png' style='border: solid black 5px'><br><small><i>LEFT JOIN in SQL Example Output</i></small></div>

<p>As left join gives the matching rows and the rows that are present in the left table but not in the right table. Here in this example, we see that the employees that do not work in a particular department, i.e., having dept no values as [NULL], contain [NULL] values of dept name and location after the left join.</p>

### <span style='color: #BD6B09'><strong>SQL LEFT JOIN with WHERE Clause Example</strong></span>

<p>In this example, we will add a <strong>WHERE clause</strong> that specifies to only return results where the “location” column in the department table equals ‘Bangalore’. This will filter the results to only show employees who belong to a department located in Bangalore, and departments that have no employees will not be returned in the results.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> e.EmpID, e.Name, d.<span style='color: #BD6B09'>department_name</span>, 
d.<span style='color: #BD6B09'>department_head</span>, d.<span style='color: #BD6B09'>location</span> 
<span style='color: #BD6B09'>FROM</span> Emp <span style='color: #BD6B09'>e</span>
<span style='color: #BD6B09'>LEFT JOIN</span> department <span style='color: #BD6B09'>d</span> 
<span style='color: #BD6B09'>ON</span> e.department_id = d.department_id
<span style='color: #BD6B09'>WHERE</span> d.<span style='color: #BD6B09'>location</span> = <span style='color: #BD6B09'>'Bangalore'</span>;
</pre>
      </strong>
    </th>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230413154858/Screenshot_60.png' style='border: solid black 5px'><br><small><i>SQL LEFT JOIN with WHERE Clause Example</i></small></div>

### <span style='color: #BD6B09'><strong>SQL LEFT JOIN as Aliases Example</strong></span>

<p>In this query, we’ll use aliases “e” for the Emp table and “d” for the department table. The <strong>SELECT</strong> statement references these aliases for each column, making the query easier to read and type. Aliases simplify code and improve readability, especially with long or complex table names.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <th style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> e.EmpID, e.Name, d.<span style='color: #BD6B09'>department_name</span>, 
d.<span style='color: #BD6B09'>department_head</span>, d.<span style='color: #BD6B09'>location</span> 
<span style='color: #BD6B09'>FROM</span> Emp <span style='color: #BD6B09'>e</span>
<span style='color: #BD6B09'>LEFT JOIN</span> department <span style='color: #BD6B09'>d</span> 
<span style='color: #BD6B09'>ON</span> e.department_id = d.department_id;
</pre>
      </strong>
    </th>
  </tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230413153401/Screenshot_59.png' style='border: solid black 5px'><br><small><i>SQL LEFT JOIN as Aliases Example Output</i></small></div>

## <span style='color: '><strong>Important Points About SQL LEFT JOIN</strong></span>

<li style='text-indent: 1cm'>LEFT JOIN in SQL returns all records from the left table and matching records from the right table.</li>
<li style='text-indent: 1cm'>NULL values are included for unmatched records on the right side.</li>
<li style='text-indent: 1cm'>LEFT JOIN is used to combine data based on related columns.</li>
<li style='text-indent: 1cm'>Aliases can simplify queries with long table names.</li>
<li style='text-indent: 1cm'>LEFT JOIN with WHERE clause is used for filtering records.</li>