<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>SQL SELECT RANDOM</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p><b>RANDOM()</b> in SQL is generally used to return a random row from a table present in the database. It has many applications in real life.</p>

<p>For example:</p>
<span style='text-indent: 0.5cm'><p>1. There are a lot of employees in an organization. Suppose, if the event manager wants to mail any ten random employees then he/she can use the RANDOM() in SQL to get the Email Id of the ten random employees.</p></span>
<span style='text-indent: 0.5cm'><p>2. It can also be used to display random questions during an online exam or MCQ from a pool of questions.</p></span>

<p>In this article, we are going to discuss how RANDOM( ) can be used using a sample table shown below.</p>

### <span style='color: #BD6B09'><strong>Sample Input Table</strong></span>

<table align='center'>
        <caption><strong>Customer Information</strong></caption>
    <tr align='center'>
        <th>Customer ID</th>	
        <th>Customer Name</th>	
        <th>E-Mail Address</th>
    </tr>
    <tr align='center'>
        <td>1</td>	
        <td>Srishti</td>	
        <td>abc@gmail.com</td>
    </tr>
    <tr align='center'>
        <td>2</td>	
        <td>Rajdeep</td>	
        <td>def@gmail.com</td>
    </tr>
    <tr align='center'>
        <td>3</td>	
        <td>Aman</td>
        <td>xxx@gmail.com</td>
    </tr>
    <tr align='center'>
        <td>4</td>	
        <td>Pooja</td>	
        <td>xyz@gmail.com</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>BASIC SQL QUERY</strong></span>

<strong>1. Creating a Database</strong>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE DATABASE</span> database_name;</pre></strong></th></tr>
</table>

<strong>2. Creating a Table</strong>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> Table_name(
col_1 TYPE col_1_constraint,
col_2 TYPE col_2 constraint
.....
)

<span style='color: red'>col</span>: Column name
<span style='color: red'>colTYPE</span>: Data type whether an integer, variable character, etc
<span style='color: red'>col col_constraint</span>: Constraints in SQL like PRIMARY KEY, NOT NULL, UNIQUE, REFERENCES, etc</pre></strong></th></tr>
</table>

<strong>3. Inserting into a Table</strong>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>INSERT INTO</span> Table_name
<span style='color: #BD6B09'>VALUES</span>(val_1, val_2, val_3, ..........)

<span style='color: red'>val</span>: Values in particular column</pre></strong></th></tr>
</table>

<strong>4. View The Table</strong>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Table_name</pre></strong></th></tr>
</table>

<strong>Output</strong>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210505131621/CustomerTableGfG.jpg' style='border: solid black 5px'><small><b><i>Customer Table</i></b></small></div>

### <span style='color: #BD6B09'><strong>SQL QUERY FOR RANDOM</strong></span>

<strong>1. MYSQL</strong>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> col_1,col_2, ... <span style='color: #BD6B09'>FROM</span> Table_Name
<span style='color: #BD6B09'>ORDER BY RAND()</span>

<span style='color: red'>col_1</span>: Column 1
<span style='color: red'>col_2</span>: Column 2</pre></strong></th></tr>
</table>

<p>The above query will return the entire table for the specific columns mentioned and the rows will be random and changing position every time we run the query. To get a single row randomly, we can use the <a href='https://www.geeksforgeeks.org/sql-limit-clause/'><b><u>LIMIT Clause</u></b></a> and set to only one row. <a href='https://www.geeksforgeeks.org/sql-order-by/'><b><u>ORDER BY</u></b></a> clause in the query is used to order the row(s) randomly.</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> col_1,col_2, ... <span style='color: #BD6B09'>FROM</span> Table_Name
<span style='color: #BD6B09'>ORDER BY RAND()</span>
<span style='color: #BD6B09'>LIMIT</span> 1

<span style='color: red'>col_1</span>: Column 1
<span style='color: red'>col_2</span>: Column 2</pre></strong></th></tr>
</table>

<strong>2. PostgreSQL and SQLite</strong>

<p>It is exactly the same as MYSQL. Just replace RAND() with RANDOM().</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> col_1,col_2, ... <span style='color: #BD6B09'>FROM</span> Table_Name
<span style='color: #BD6B09'>ORDER BY RAND()</span>
<span style='color: #BD6B09'>LIMIT</span> 1

<span style='color: red'>col_1</span>: Column 1
<span style='color: red'>col_2</span>: Column 2</pre></strong></th></tr>
</table>

<strong>Output</strong>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210505133726/RANDOM1.jpg' style='border: solid black 5px'><small><b><i>Random Rows</i></b></small></div>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210505133727/RANDOM2.jpg' style='border: solid black 5px'><small><b><i>RANDOM ROWS</i></b></small></div>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210505133728/RANDOM3.jpg' style='border: solid black 5px'><small><b><i>RANDOM ROWS</i></b></small></div>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210505133730/RANDOM4.jpg' style='border: solid black 5px'><small><b><i>RANDOM ROW</i></b></small></div>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20210505133731/RANDOM5.jpg' style='border: solid black 5px'><small><b><i>RANDOM ROW</i></b></small></div>

<p>We can observe that the above queries return the rows randomly from all the set of rows in the table. The RANDOM() clause is beneficial when there are humongous records in the database.</p>

</blockquote>
</div>