<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>DATE AND TIME FUNCTIONS</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>In SQL, dates are complicated for newbies, since while working with a database, the format of the data in the table must be matched with the input data to insert. In various scenarios instead of date, datetime (time is also involved with date) is used.</p>

<p>For storing a date or a date and time value in a database,MySQL offers the following data types:</p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Data Type</th>
        <th>Format</th>
        <th>Example</th>
    </tr>
    <tr align="center">
        <td>DATE</td>
        <td>YYYY-MM-DD</td>
        <td>2024-07-19</td>
    </tr>
    <tr align="center">
        <td>DATETIME</td>
        <td>YYYY-MM-DD HH:MM:SS</td>
        <td>2024-07-19 14:30:00</td>
    </tr>
    <tr align="center">
        <td>TIMESTAMP</td>
        <td>YYYY-MM-DD HH:MM:SS</td>
        <td>2024-07-19 14:30:00</td>
    </tr>
    <tr align="center">
        <td>YEAR</td>
        <td>YYYY or YY</td>
        <td>2024 or 24</td>
    </tr>
</table>

<p>Now, come to some popular functions in SQL date functions.</p>

### <span style='color: #BD6B09'><strong>NOW()</strong></span>

<p>Returns the current date and time.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> <span style='color: #008000'>NOW()</span>;</pre></strong></td></tr></table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230404130103/Screenshot_28.png' style='border: solid black 5px'><br><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>CURDATE()</strong></span>

<p>Returns the current date.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> <span style='color: #008000'>CURDATE()</span>;</pre></strong></td></tr></table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230404130200/Screenshot_29.png' style='border: solid black 5px'><br><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>CURTIME()</strong></span>

<p>Returns the current time. </p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> <span style='color: #008000'>CURTIME()</span>;</pre></strong></td></tr></table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230404130243/Screenshot_30.png' style='border: solid black 5px'><br><small><i></i></small></div>

### <span style='color: #BD6B09'><strong>DATE()</strong></span>

<p>Extracts the date part of a date or date/time expression. Example: For the below table named ‘Test’.</p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Id</th>
        <th>Name</th>
        <th>BirthTime</th>
    </tr>
    <tr align="center">
        <td>4120</td>
        <td>Pratik</td>
        <td>1996-09-26 16:44:15.581</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>DATE</span>(BirthTime) 
<span style='color: #BD6B09'>AS</span> BirthDate 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr></table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>BirthDate</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>1996-09-26</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>EXTRACT()</strong></span>

<p>Returns a single part of a date/time. </p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>EXTRACT</span>(<span style='color: #008000'>unit</span> <span style='color: #BD6B09'>FROM</span> <span style='color: #008000'>date</span>);</pre></strong></td></tr>
</table>

<p>Several units can be considered but only some are used such as <strong>MICROSECOND</strong>, <strong>SECOND</strong>, <strong>MINUTE</strong>, <strong>HOUR</strong>, <strong>DAY</strong>, <strong>WEEK</strong>, <strong>MONTH</strong>, <strong>QUARTER</strong>, <strong>YEAR</strong>, etc. And ‘date’ is a valid date expression. Example: For the below table named ‘Test’</p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Id</th>
        <th>Name</th>
        <th>BirthTime</th>
    </tr>
    <tr align="center">
        <td>4120</td>
        <td>Pratik</td>
        <td>1996-09-26 16:44:15.581</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>EXTRACT</span>(<span style='color: #008000'>DAY</span> <span style='color: #BD6B09'>FROM</span> BirthTime) 
<span style='color: #BD6B09'>AS</span> BirthDay 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>Birthday</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>26</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>EXTRACT</span>(<span style='color: #008000'>YEAR</span> <span style='color: #BD6B09'>FROM</span> BirthTime)
<span style='color: #BD6B09'>AS</span> BirthYear 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>BirthYear</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>1996</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>EXTRACT</span>(<span style='color: #008000'>SECOND</span> <span style='color: #BD6B09'>FROM</span> BirthTime) 
<span style='color: #BD6B09'>AS</span> BirthSecond 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>BirthSecond</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>581</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>DATE_ADD()</strong></span>

<p>Adds a specified time interval to a date.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>DATE_ADD</span>(<span style='color: #008000'>date</span>, 
<span style='color: #BD6B09'>INTERVAL</span> <span style='color: #008000'>expr</span> <span style='color: #BD6B09'>type</span>);</pre></strong></td></tr>
</table>

<p>Where,  date – valid date expression, and expr is the number of intervals we want to add. and type can be one of the following: MICROSECOND, SECOND, MINUTE, HOUR, DAY, WEEK, MONTH, QUARTER, YEAR, etc. Example: For the below table named ‘Test’.</p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Id</th>
        <th>Name</th>
        <th>BirthTime</th>
    </tr>
    <tr align="center">
        <td>4120</td>
        <td>Pratik</td>
        <td>1996-09-26 16:44:15.581</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>DATE_ADD</span>(BirthTime, 
<span style='color: #BD6B09'>INTERVAL</span> 
<span style='color: #008000'>1</span> <span style='color: #BD6B09'>YEAR</span>) 
<span style='color: #BD6B09'>AS</span> BirthTimeModified 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>BirthTimeModified</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>1997-09-26 16:44:15.581</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>DATE_ADD</span>(BirthTime, 
<span style='color: #BD6B09'>INTERVAL</span> <span style='color: #008000'>30</span> <span style='color: #BD6B09'>DAY</span>) 
<span style='color: #BD6B09'>AS</span> BirthDayModified 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>BirthDayModified</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>1996-10-26 16:44:15.581</td>
    </tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> Name, 
<span style='color: #BD6B09'>DATE_ADD</span>(BirthTime, 
<span style='color: #BD6B09'>INTERVAL</span> <span style='color: #008000'>4</span> <span style='color: #BD6B09'>HOUR</span>) 
<span style='color: #BD6B09'>AS</span> BirthHourModified 
<span style='color: #BD6B09'>FROM</span> Test;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>Name</th>
        <th>BirthSecond</th>
    </tr>
    <tr align="center">
        <td>Pratik</td>
        <td>1996-10-26 20:44:15.581</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>DATE_SUB()</strong></span>

<p>Subtracts a specified time interval from a date. The syntax for DATE_SUB is the same as DATE_ADD just the difference is that DATE_SUB is used to subtract a given interval of date.</p>

### <span style='color: #BD6B09'><strong>DATEDIFF()</strong></span>

<p>Returns the number of days between two dates.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>DATEDIFF</span>(<span style='color: #008000'>interval</span>, <span style='color: #008000'>date1</span>, <span style='color: #008000'>date2</span>);</pre></strong></td></tr>
</table>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>SELECT</span> 
<span style='color: #BD6B09'>DATEDIFF</span>(<span style='color: #008000'>month</span>, <span style='color: #008000'>'2017-01-13'</span>, <span style='color: #008000'>'2017-01-03'</span>) 
<span style='color: #BD6B09'>AS</span> DateDiff;</pre></strong></td></tr>
</table>

<p><strong>Output</strong></p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>DateDiff</th>
    </tr>
    <tr align="center">
        <td>10</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>DATE_FORMAT()</strong></span>

<p>Displays date/time data in different formats.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
  <tr>
    <td style='background-color: #F0F0F0'>
      <strong>
        <pre>
<span style='color: #BD6B09'>DATE_FORMAT</span>(<span style='color: #008000'>date</span>, <span style='color: #008000'>format</span>);</pre></strong></td></tr>
</table>

<p>The date is a valid date and the format specifies the output format for the date/time. The formats that can be used are:</p>

<li style='text-indent: 1cm'>D%a-Abbreviated weekday name (Sun-Sat)</li>
<li style='text-indent: 1cm'>%b-Abbreviated month name (Jan-Dec)</li>
<li style='text-indent: 1cm'>%c-Month, numeric (0-12)</li>
<li style='text-indent: 1cm'>%D-Day of month with English suffix (0th, 1st, 2nd, 3rd)</li>
<li style='text-indent: 1cm'>%d-Day of the month, numeric (00-31)</li>
<li style='text-indent: 1cm'>%e-Day of the month, numeric (0-31)</li>
<li style='text-indent: 1cm;'>%f - Microseconds (000000-999999)</li>
<li style='text-indent: 1cm;'>%H - Hour (00-23)</li>
<li style='text-indent: 1cm;'>%h - Hour (01-12)</li>
<li style='text-indent: 1cm;'>%I - Hour (01-12)</li>
<li style='text-indent: 1cm;'>%i - Minutes, numeric (00-59)</li>
<li style='text-indent: 1cm;'>%j - Day of the year (001-366)</li>
<li style='text-indent: 1cm;'>%k - Hour (0-23)</li>
<li style='text-indent: 1cm;'>%l - Hour (1-12)</li>
<li style='text-indent: 1cm;'>%M - Month name (January-December)</li>
<li style='text-indent: 1cm;'>%m - Month, numeric (00-12)</li>
<li style='text-indent: 1cm;'>%p - AM or PM</li>
<li style='text-indent: 1cm;'>%r - Time, 12-hour (hh:mm:ss followed by AM or PM)</li>
<li style='text-indent: 1cm;'>%S - Seconds (00-59)</li>
<li style='text-indent: 1cm;'>%s - Seconds (00-59)</li>
<li style='text-indent: 1cm;'>%T - Time, 24-hour (hh:mm:ss)</li>
<li style='text-indent: 1cm;'>%U - Week (00-53) where Sunday is the first day of the week</li>
<li style='text-indent: 1cm;'>%u - Week (00-53) where Monday is the first day of the week</li>
<li style='text-indent: 1cm;'>%V - Week (01-53) where Sunday is the first day of the week, used with %X</li>
<li style='text-indent: 1cm;'>%v - Week (01-53) where Monday is the first day of the week, used with %x</li>
<li style='text-indent: 1cm;'>%W - Weekday name (Sunday-Saturday)</li>
<li style='text-indent: 1cm;'>%w - Day of the week (0=Sunday, 6=Saturday)</li>
<li style='text-indent: 1cm;'>%X - Year for the week where Sunday is the first day of the week, four digits, used with %V</li>
<li style='text-indent: 1cm;'>%x - Year for the week where Monday is the first day of the week, four digits, used with %v</li>
<li style='text-indent: 1cm;'>%Y - Year, numeric, four digits</li>
<li style='text-indent: 1cm;'>%y - Year, numeric, two digits</li>