<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>NOT OPERATORS</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>SQL NOT Operator is used to return the opposite result or negative result. It is a logical operator in SQL, that negates the boolean expression in the <strong>WHERE</strong> clause.</p>

<p>It is mostly used to specify what should not be included in the results table.</p>

## <span style='color: '><strong>NOT Syntax</strong></span>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1, colomn2, … 
<span style='color: #BD6B09'>FROM</span> table_name <span style='color: #BD6B09'>WHERE NOT</span> condition; </pre></strong></th></tr>
</table>

## <span style='color: '><strong>Demo SQL Database</strong></span>

<p>Below is a selection from the “Customers” table in the Northwind sample database:</p>

<table align='center'>
    <tr align='center' style='background-color: #F0F0F0; color: black'>
        <th>Customer ID</th>	
        <th>Customer Name</th>	
        <th>City</th>	
        <th>PostalCode</th>	
        <th>Country</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>John Wick</td>
        <td>New York</td>
        <td>1248</td>
        <td>USA</td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Around the Horn</td>
        <td>London</td>
        <td>WA1 1DP</td>
        <td>UK</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Rohan</td>
        <td>New Delhi</td>
        <td>100084</td>
        <td>India</td>
    </tr>
</table>

<p>To create this table on your system, run tte the following MySQL Query:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> Customers (
    CustomerID INT <span style='color: #BD6B09'>PRIMARY KEY</span>,
    CustomerName VARCHAR(50),
    City VARCHAR(50),
    PostalCode VARCHAR(10),
    Country VARCHAR(50)
);
<span style='color: #BD6B09'>INSERT INTO</span> Customers (CustomerID, CustomerName, City, PostalCode, Country)
<span style='color: #BD6B09'>VALUES</span>
    (1, 'John Wick', 'New York', '1248', 'USA'),
    (2, 'Around the Horn', 'London', 'WA1 1DP', 'UK'),
    (3, 'Rohan', 'New Delhi', '100084', 'India');</pre></strong></th></tr>
</table>

## <span style='color: '><strong>NOT Operator Example</strong></span>

<p>Lets look at some examples of NOT operator in SQL and understand it’s working.</p>

<p>The following SQL statement selects all fields from “Customers” where the country is not “UK” SELECT * FROM Customers WHERE NOT Country=’UK’;</p>

<table align='center'>
    <tr align='center' style='background-color: #F0F0F0; color: black'>
        <th>Customer ID</th>	
        <th>Customer Name</th>	
        <th>City</th>	
        <th>PostalCode</th>	
        <th>Country</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>John Wick</td>
        <td>New York</td>
        <td>1248</td>
        <td>USA</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Rohan</td>
        <td>New Delhi</td>
        <td>100084</td>
        <td>India</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>Combining AND, OR and NOT</strong></span>

<p>You can also combine the AND, OR, and NOT operators.</p>

<p><strong>Example</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Customers <span style='color: #BD6B09'>WHERE NOT</span> Country=’USA’ <span style='color: #BD6B09'>AND NOT</span> Country=’UK’;</pre></strong></th></tr>
</table>

<br>

<table align='center'>
    <tr align='center' style='background-color: #F0F0F0; color: black'>
        <th>Customer ID</th>	
        <th>Customer Name</th>	
        <th>City</th>	
        <th>PostalCode</th>	
        <th>Country</th>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Rohan</td>
        <td>New Delhi</td>
        <td>100084</td>
        <td>India</td>
    </tr>
</table>

### <span style='color: #BD6B09'><strong>Alternatively you can use <> ( Not Operator) to get the desired result</strong></span>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Customer <span style='color: #BD6B09'>WHERE</span> Country <>'USA';</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230320180145/Extra_Query.png' style='border: solid black 5px'><br><small><i>NOT Operator Example</i></small></div>

## <span style='color: '><strong>Key TakeAways About NOT Operator</strong></span>

<li style='text-indent: 1cm'>NOT operator returns opposite results or negative results. It negates boolean condition in the WHERE clause.</li>
<li style='text-indent: 1cm'>It is used to exclude specific data from the result set.</li>
<li style='text-indent: 1cm'>It can also be combined with other operators like- <strong>LIKE</strong>, <strong>BETWEEN</strong>, and <strong>IN</strong>.</li>