<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>LIMIT CLAUSE</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p>The LIMIT clause in SQL allows users to control the amount of data retrieved and displayed in the result set.</p>

<p>It is useful when only a subset of records is needed for analysis or display purposes in large databases with thousands of records.</p>

<p><strong>Syntax</strong></p>

<p>The Syntax to use LIMIT in SQL is:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column1, column2, …
<span style='color: #BD6B09'>FROM</span> table_name
<span style='color: #BD6B09'>WHERE</span> condition
<span style='color: #BD6B09'>ORDER BY</span> column
<span style='color: #BD6B09'>LIMIT</span> [offset,] row_count;</pre></strong></th></tr>
</table>

<p><strong>Here,</strong></p>

<li style='text-indent: 1cm'><strong>offset</strong>: number of rows to skip before returning the result set.</li>
<li style='text-indent: 1cm'><strong>row_count</strong>: number of rows to return in the result set.</li>

## <span style='color: '><strong>SQL LIMIT Examples</strong></span>

<p>Let’s look at some examples of the LIMIT clause in SQL to understand it’s working:</p>

<p>We will use the sample table name “Student” and write some LIMIT queries.</p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230428145238/Screenshot_39.png' style='border: solid black 5px'><br><small><i>Student Table</i></small></div>

<p>To create this table in your system, write the following queries:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CREATE TABLE</span> student 
(
    id INT <span style='color: #BD6B09'>PRIMARY KEY</span>,
    name VARCHAR(50),
    age INT
);
<span style='color: #BD6B09'>INSERT INTO</span> student (id, name, age)
<span style='color: #BD6B09'>VALUES</span> (1, 'Shubham Thakur', 18),
       (2, 'Aman Chopra', 19),
       (3, 'Bhavika uppala', 20),
       (4,'Anshi Shrivastava',22);</pre></strong></th></tr>
</table>

### <span style='color: #BD6B09'><strong>LIMIT Clause Example</strong></span>

<p>In this example, we will only retrieve 3 rows from the student table using LIMIT.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> student 
<span style='color: #BD6B09'>LIMIT</span> 3;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230428145341/Screenshot_40.png' style='border: solid black 5px'><br><small><i>LIMIT Clause Example</i></small></div>

### <span style='color: #BD6B09'><strong>LIMIT with ORDER BY Clause</strong></span>

<p>In this example, we will use the LIMIT clause with ORDER BY clause.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Student
<span style='color: #BD6B09'>ORDER BY</span> Grade <span style='color: #BD6B09'>DESC</span>
<span style='color: #BD6B09'>LIMIT</span> 3;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230428145450/Screenshot_41.png' style=' border: solid black 5px'><br><small><i>LIMIT with ORDER BY Clause</i></small></div>

<p>The LIMIT operator can be used in situations such as the above, where we need to find the top 3 students in a class and do not want to use any conditional statements.</p>

## <span style='color: '><strong>SQL LIMIT OFFSET</strong></span>

<p><strong>LIMIT OFFSET</strong> parameter skips a specified number of rows before returning the result set.</p>

<p>OFFSET can only be used with the <strong>ORDER BY</strong> clause. It cannot be used on its own.</p>

<p>OFFSET value must be greater than or equal to zero. It cannot be negative, else returns an error.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> table_name <span style='color: #BD6B09'>ORDER BY</span> column_name <span style='color: #BD6B09'>LIMIT</span> X <span style='color: #BD6B09'>OFFSET</span> Y;</pre></strong></th></tr>
</table>

<p><strong>OR</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> table_name <span style='color: #BD6B09'>ORDER BY</span> column_name <span style='color: #BD6B09'>LIMIT</span> X,Y;</pre></strong></th></tr>
</table>

<p>The first value X is the offset value and the second value Y is the LIMIT value.</p>

### <span style='color: #BD6B09'><strong>SQL LIMIT OFFSET Example</strong></span>

<p>In this example, we will skip first 2 values using offset and print only 3 rows.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> * <span style='color: #BD6B09'>FROM</span> Student 
<span style='color: #BD6B09'>ORDER BY</span> ROLLNO <span style='color: #BD6B09'>LIMIT</span> 2,5;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230428145602/Screenshot_42.png' style='border: solid black 5px'><br><small><i>SQL LIMIT OFFSET Example Output</i></small></div>

## <span style='color: '><strong>SQL LIMIT to Get the nth Highest or Lowest Value</strong></span>

<p>Now we will look for LIMIT use in finding highest or lowest value we need to retrieve the rows with the nth highest or lowest value. In that situation, we can use the subsequent LIMIT clause to obtain the desired outcome.</p>

<p><strong>Syntax</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> column_list  
<span style='color: #BD6B09'>FROM</span> table_name  
<span style='color: #BD6B09'>ORDER BY</span> expression  
<span style='color: #BD6B09'>LIMIT</span> n-1, 1;</pre></strong></th></tr>
</table>

<p><strong>Example</strong></p>

<p>In this example, we will retrieve second highest age of student table.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> age <span style='color: #BD6B09'>FROM</span> Student  
<span style='color: #BD6B09'>ORDER BY</span> age <span style='color: #BD6B09'>LIMIT</span> 2, 1;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230428152705/Screenshot_43.png' style='border: solid black 5px'><br><small><i>SQL LIMIT to Get the nth Highest Value Example Output</i></small></div>

## <span style='color: '><strong>LIMIT with WHERE Clause</strong></span>

<p>The <strong>WHERE clause</strong> can also be used with LIMIT. It produces the rows that matched the condition after checking the specified condition in the table.</p>

<p><strong>Example</strong></p>

<p>In this example, we will use SQL LIMIT with WHERE Clause.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> age
<span style='color: #BD6B09'>FROM</span> Student
<span style='color: #BD6B09'>WHERE</span> id < 4
<span style='color: #BD6B09'>ORDER BY</span> age
<span style='color: #BD6B09'>LIMIT</span> 2, 1;</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230428153059/Screenshot_43.png' style='border: solid black 5px'><br><small><i>LIMIT with WHERE Clause Example Output</i></small></div>

## <span style='color: '><strong>Restrictions on the LIMIT clause</strong></span>

<p>There are several limitations of SQL LIMIT. The following situations do not allow the LIMIT clause to be used:</p>

<li style='text-indent: 1cm'>With regard to defining a view.
</li>
<li style='text-indent: 1cm'>The use of nested <strong>SELECT statements</strong>.</li>
<li style='text-indent: 1cm'>Except for subqueries with table expressions specified in the FROM clause.</li>
<li style='text-indent: 1cm'>Embedded SELECT statements are used as expressions in a singleton SELECT (where max = 1) within an SPL routine where embedded SELECT statements are used as expressions.</li>

## <span style='color: '><strong>Important Points About SQL LIMIT</strong></span>

<li style='text-indent: 1cm'>The LIMIT clause is used to set an upper limit on the number of tuples returned by SQL.
</li>
<li style='text-indent: 1cm'>It is important to note that this clause is not supported by all SQL versions.</strong>.</li>
<li style='text-indent: 1cm'>The LIMIT clause can also be specified using the SQL 2008 OFFSET/FETCH FIRST clauses.</li>
<li style='text-indent: 1cm'>The limit/offset expressions must be a non-negative integer.</li>