<div style='text-indent: 0 cm; background-color: white; color: black; padding-top: 20px; padding-bottom: 10px;'>

# <span style='display: flex; justify-content: center; color: #E54646'><b>CASE STATEMENT</b></span>

<div align='justify'>
<blockquote style='background-color: white; color: black'>

<p><strong>SQL CASE statement</strong> is a conditional expression that allows users to execute different actions based on different conditions. It is similar to if-else logic in other programming languages.</p>

## <span style='color: '><strong>CASE Statement in SQL</strong></span>

<p>CASE Expression in SQL goes through all conditions and stops when any condition is met. It does not check for other conditions after a condition has returned true and returns results based on that condition.</p>

<p>If no condition is true then the ELSE part will be executed. If there is no ELSE part, then it returns <strong>NULL</strong>.</p>

### <span style='color: #BD6B09'><strong>Syntax</strong></span>

<p>To use CASE Statement in SQL, use the following syntax:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>CASE</span> case_value
    <span style='color: #BD6B09'>WHEN</span> condition <span style='color: #BD6B09'>THEN</span> result1
    <span style='color: #BD6B09'>WHEN</span> condition <span style='color: #BD6B09'>THEN</span> result2
    ...
    <span style='color: #BD6B09'>ELSE</span> result
<span style='color: #BD6B09'>END</span> <span style='color: #BD6B09'>CASE</span>;
</pre></strong></th></tr>
</table>

## <span style='color: '><strong>SQL CASE Example</strong></span>

<p>Let’s look at some examples of the CASE statement in SQL to understand it better.</p>

<p>Let’s create a demo SQL table, which will be used in examples.</p>

### <span style='color: #BD6B09'><strong>Demo SQL Database</strong></span>

<p>We will be using this sample SQL table for our examples on SQL CASE statement:</p>

<table align="center" border="1">
    <tr align="center" style='background-color: #F0F0F0; color: black'>
        <th>CustomerID</th>
        <th>CustomerName</th>
        <th>LastName</th>
        <th>Country</th>
        <th>Age</th>
        <th>Phone</th>
    </tr>
    <tr align="center">
        <td>1</td>
        <td>Shubham</td>
        <td>Thakur</td>
        <td>India</td>
        <td>23</td>
        <td>xxxxxxxxxx</td>
    </tr>
    <tr align="center">
        <td>2</td>
        <td>Aman</td>
        <td>Chopra</td>
        <td>Australia</td>
        <td>21</td>
        <td>xxxxxxxxxx</td>
    </tr>
    <tr align="center">
        <td>3</td>
        <td>Naveen</td>
        <td>Tulasi</td>
        <td>Sri Lanka</td>
        <td>24</td>
        <td>xxxxxxxxxx</td>
    </tr>
    <tr align="center">
        <td>4</td>
        <td>Aditya</td>
        <td>Arpan</td>
        <td>Austria</td>
        <td>21</td>
        <td>xxxxxxxxxx</td>
    </tr>
    <tr align="center">
        <td>5</td>
        <td>Nishant. Salchichas S.A.</td>
        <td>Jain</td>
        <td>Spain</td>
        <td>22</td>
        <td>xxxxxxxxxx</td>
    </tr>
</table>

<p>You can create the same Database in your system, by writing the following MySQL query:</p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: '>-- Create the Customer table</span>
<span style='color: #BD6B09'>CREATE TABLE</span> Customer (
    <span style='color: #BD6B09'>CustomerID</span> INT <span style='color: #BD6B09'>PRIMARY KEY</span>,
    <span style='color: #BD6B09'>CustomerName</span> VARCHAR(50),
    <span style='color: #BD6B09'>LastName</span> VARCHAR(50),
    <span style='color: #BD6B09'>Country</span> VARCHAR(50),
    <span style='color: #BD6B09'>Age</span> INT,
    <span style='color: #BD6B09'>Phone</span> VARCHAR(10) <span style='color: '>-- Changed to VARCHAR to allow leading zeroes if needed</span>
);
<span>-- Insert some sample data into the Customer table</span>
<span style='color: #BD6B09'>INSERT INTO</span> Customer (<span style='color: #BD6B09'>CustomerID</span>, <span style='color: #BD6B09'>CustomerName</span>, <span style='color: #BD6B09'>LastName</span>, <span style='color: #BD6B09'>Country</span>, <span style='color: #BD6B09'>Age</span>, <span style='color: #BD6B09'>Phone</span>)
<span style='color: #BD6B09'>VALUES</span> 
    (1, 'Shubham', 'Thakur', 'India', 23, 'xxxxxxxxxx'),
    (2, 'Aman', 'Chopra', 'Australia', 21, 'xxxxxxxxxx'),
    (3, 'Naveen', 'Tulasi', 'Sri Lanka', 24, 'xxxxxxxxxx'),
    (4, 'Aditya', 'Arpan', 'Austria', 21, 'xxxxxxxxxx'),
    (5, 'Nishant', 'Jain', 'Spain', 22, 'xxxxxxxxxx');
</pre></strong></th></tr>
</table>


### <span style='color: #BD6B09'><strong>CASE Expression Example</strong></span>

<p>In this example, we use CASE statement.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> CustomerName, Age,
<span style='color: #BD6B09'>CASE
    WHEN</span> Country = "India" <span style='color: #BD6B09'>THEN</span> 'Indian'
    <span style='color: #BD6B09'>ELSE</span> 'Foreign'
<span style='color: #BD6B09'>END</span> <span style='color: #BD6B09'>AS</span> Nationality
<span style='color: #BD6B09'>FROM</span> Customer;
</pre></strong></th></tr>
</table>

### <span style='color: #BD6B09'><strong>SQL CASE When Multiple Conditions Example</strong></span>

<p>We can add multiple conditions in the CASE statement by using multiple WHEN clauses.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> CustomerName, Age,
<span style='color: #BD6B09'>CASE
    WHEN</span> Age > 22 <span style='color: #BD6B09'>THEN</span> 'The Age is greater than 22'
    <span style='color: #BD6B09'>WHEN</span> Age = 21 <span style='color: #BD6B09'>THEN</span> 'The Age is 21'
    <span style='color: #BD6B09'>ELSE</span> 'The Age is over 30'
<span style='color: #BD6B09'>END</span> <span style='color: #BD6B09'>AS</span> QuantityText
<span style='color: #BD6B09'>FROM</span> Customer;
</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230906122912/Screenshot_51.png' style='border: solid black 5px'><br><small><i>Output</i></small></div>

### <span style='color: #BD6B09'><strong>CASE Statement With ORDER BY Clause Example</strong></span>

<p>Let’s take the Customer Table which contains CustomerID, CustomerName, LastName, Country, Age, and Phone. We can check the data of the Customer table by using the ORDER BY clause with the CASE statement.</p>

<p><strong>Query</strong></p>

<table align='center' style='border: solid white; padding-top: 20px; padding-bottom: 0px;'>
<tr><th style='background-color: #F0F0F0'><strong><pre><span style='color: #BD6B09'>SELECT</span> CustomerName, Country
<span style='color: #BD6B09'>FROM</span> Customer
<span style='color: #BD6B09'>ORDER BY</span>
<span style='color: #BD6B09'>(CASE
    WHEN</span> Country <span style='color: #BD6B09'>IS 'India' THEN</span> Country
    <span style='color: #BD6B09'>ELSE</span> Age
<span style='color: #BD6B09'>END);</span>
</pre></strong></th></tr>
</table>

<p><strong>Output</strong></p>

<div align='center'><img src='https://media.geeksforgeeks.org/wp-content/uploads/20230906123140/Screenshot_53.png' style='border: solid black 5px'><br><small><i>CASE Statement With ORDER BY Clause Example Output</i></small></div>

## <span style='color: '><strong>Important Points About CASE Statement</strong></span>

<li style='text-indent: 1cm'>The SQL CASE statement is a conditional expression that allows for the execution of different queries based on specified conditions.</li>
<li style='text-indent: 1cm'>There should always be a SELECT in the CASE statement.</li>
<li style='text-indent: 1cm'><strong>END ELSE</strong> is an optional component but <strong>WHEN THEN</strong> these cases must be included in the CASE statement.</li>
<li style='text-indent: 1cm'>We can make any conditional statement using any conditional operator (like WHERE ) between WHEN and THEN. This includes stringing together multiple conditional statements using AND and OR.</li>
<li style='text-indent: 1cm'>We can include multiple WHEN statements and an ELSE statement to counter with unaddressed conditions.</li>